<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="manifest" href="manifest.json">

    <title>MyTourney</title>
</head>
    <body>
    <div class="navbar" id="nav_bar">
        <nav>
            <ul class="nav-links">
                <!-- Make this so that the "PROFILE" changes to "LOGIN" -->
                <!-- Make it so that if the user does not have a team, he can join a team or create one -->
                <li><a href="profile_player">PROFILE</a></li>
                <li><a href="balance">BALANCE</a></li>
                <li><a href="friends">FRIENDS</a></li>
                <li><a href="team_player">TEAM</a></li>
            </ul>
        </nav>
    </div>
    <br><br>
    <section class="logo">
        <div class="container">
            <div style="background-color: #91c2e7;" id="leaderboard">
                <a href="/leaderboard?selection=users&rankings_from=0&rankings_to=5" style="font-size: 14px;">LEADER<br>BOARD</a>
            </div>
            <div id="logo_img_home">
                <img src="images/MyTourney Logo.png" style="height: 85px;">
            </div>
            <div style="background-color: #91c2e7;" id="host">
                <a href="host">HOST<br>MODE</a>
            </div>
        </div>
    </section>
    <br><br>
    <div id="install-btn">
        INSTALL
    </div>
    <section class="searchbar" style="padding: 0;">
        <div class="container">
            <!-- <div id="search">
                <a href="#">
                    <img src="images/Search Icon.png" style="height: 30px;">
                </a>
            </div>
            
            <div id="filter">
                <a href="#">
                    <img src="images/Filter Icon.png" style="height: 30px;">
                </a>
            </div>
            <div id="sort">
                <a href="#">
                    <img src="images/Sort Icon.png" style="height: 30px;">
                </a>
            </div> -->
            <div style="margin: auto; width: 50%;">
                <h1 id="tornearme">Tourneys Near Me</h1>
            </div>
        </div>
    </section>
    <section id="listings">
        <% for(var tourney of tourneys) {%>
            <div class="tourney-listing" onclick="window.location='/listing?tourney_id=<%= tourney[0].tourneys_id %>'">
                <div id="venue-img-container" class="flex-child img">
                    <img src=<%= tourney_path %><%= tourney[0].photo %> id="venue-img">
                </div>
                <% if(tourney[0].age_group == 'child') {var ages = '3-7'}%> 
                <% if(tourney[0].age_group == 'youth') {var ages = '8-12'}%> 
                <% if(tourney[0].age_group == 'highschool') {var ages = '13-18'}%> 
                <% if(tourney[0].age_group == 'adult') {var ages = '19+'}%>
                <% duration = new Date(tourney[0].duration_time) %>
                <% duration = duration.getMinutes() %>  
                <div id="listview-info" class="flex-child info">
                    <div style="text-align: center;">
                        <strong><%= tourney[0].name %></strong>
                    </div>
                    <table style="width: 100%; margin: 0 auto;" class="venue-table">
                        <tr>
                            <td>
                                Game: <%= tourney[0].team_sizes %>v<%= tourney[0].team_sizes %>   Age Group: <%= ages %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Entry: $<%= tourney[0].entry_fee.toFixed(2) %> Duration: <%= duration %> min
                            </td>
                        </tr>
                        <tr>
                            <td>
                                # of Teams Participating: <%= tourney[0].current_participants %> / <%= tourney[0].max_participants %> 
                            </td>
                        </tr>
                    </table>                    
                </div>
            </div> 
        <% } %> 
        <div id="register-redirect" style="font-family: NTF-Grand; color: #91c2e7;">
            <a href="/logout" style="font-family: Varsity; color: #91c2e7;font-weight: 500; background-color: #104b5f;border: 0;" id="logout">LOGOUT</a>
        </div>
    </section>
    <button onclick="topFunction()" id="my-btn" title="Go to top">
    <img src="images/Up Arrow.jpeg" style="height: 25px; padding-top: 5px;">
    </button>
    <script src="app.js"></script>
    <script src="webapp.js"></script>
    <script src="location.js"></script>
    </body>
</html>