<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Host Home - MyTourney</title>
</head>
    <body style="background-color: #560000;">
    <div class="navbar-host" id="nav_bar_host">
        <nav>
            <ul class="nav-links-host">
                <!-- Make this so that the "PROFILE" changes to "LOGIN" -->
                <!-- Make it so that if the user does not have a team, he can join a team or create one -->
                <li><a style="color: #560000" href="profile_player">PROFILE</a></li>
                <li><a style="color: #560000" href="balance">BALANCE</a></li>
                <li><a style="color: #560000" href="friends">FRIENDS</a></li>
                <li><a style="color: #560000" href="host_record">RECORD</a></li>
            </ul>
        </nav>
    </div>
    <br><br>
    <!-- Color Scheme:
    light blue = #91c2e7
    dark blue = #104b5f
    dark purple navy text = #303549
    light red = #f45b6a
    maroon / deep red = #560000
    blue grey = #c9d6e0
    cream white = #e4fde1 -->
    <section class="logo-host">
        <div class="container">
            <div style="background-color: #f45b6a;" id="leaderboard">
                <li style="list-style: none;"><a href="/leaderboard?selection=users&rankings_from=0&rankings_to=5" style="font-size: 14px;color: #560000;">LEADER<br>BOARD</a></li>
            </div>
            <div id="logo_img_home">
                <img src="images/MyTourney Logo Soccer Inverted.png" style="height: 85px;">
            </div>
            <div style="background-color: #f45b6a;" id="host">
                <li style="list-style: none;"><a href="home" style="font-size: 14px;color: #560000;">PLAYER<br>MODE</a></li>
            </div>
        </div>
    </section>
    <br><br>
    <section class="searchbar">
        <div style="color: #ffd2d2; font-weight: 500; text-align: center;margin: auto; font-size: 28px; margin-bottom: -20px;">MYTOURNEY LISTINGS</div>
    </section>
    <section id="listings">
        <% for (var tourney of tourneys){%> 
            <div class="tourney-listing-host" onclick="window.location='/host_listing?tourney_id=<%= tourney.tourneys_id %>'">
                <div id="venue-img-container" class="flex-child img">
                    <img src=<%= tourney_path %><%= tourney.photo %> id="venue-img">
                </div>
                <% if(tourney.age_group == 'child') {var ages = '3-7'}%> 
                <% if(tourney.age_group == 'youth') {var ages = '8-12'}%> 
                <% if(tourney.age_group == 'highschool') {var ages = '13-18'}%> 
                <% if(tourney.age_group == 'adult') {var ages = '19+'}%>
                <% duration = new Date(tourney.duration_time) %>
                <% duration = duration.getMinutes() %>  
                <div id="listview-info-host" class="flex-child info">
                    <div style="text-align: center;">
                        <strong><%= tourney.name %></strong>
                    </div>
                    <table style="width: 100%; margin: 0 auto;" class="venue-table-host">
                        <tr>
                            <td>
                                Game: <%= tourney.team_sizes %>v<%= tourney.team_sizes %>   Age Group: <%= ages %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Entry: $<%= tourney.entry_fee.toFixed(2) %> Duration: <%= duration %> min
                            </td>
                        </tr>
                        <tr>
                            <td>
                                # of Teams Participating: <%= tourney.current_participants %> / <%= tourney.max_participants %> 
                            </td>
                        </tr>
                    </table>                    
                </div>
            </div>
        <% } %> 

        <div class="tourney-listing-adding">
            <div id="add-tourney-img-container">
                <a href="add_tourney"><img src="https://cdn4.iconfinder.com/data/icons/vectory-bonus-3/40/button_add-512.png" id="add-tourney-img"></a>
            </div>
            <div style="text-align: center; color: black; font-weight: 500;">
                ADD NEW LISTING
            </div>
        </div>

        <div id="register-redirect" style="font-family: NTF-Grand; color: #ffd2d2">
            <a href="/logout" style="font-family: Varsity; color: #ffd2d2;font-weight: 500; border: 0;" id="logout">LOGOUT</a>
        </div>

    </section>
    <button onclick="topFunction()" id="my-btn" title="Go to top">
    <img src="images/Up Arrow.jpeg" style="height: 25px; padding-top: 5px;">
    </button>
    <script src="app.js"></script>
    </body>
</html>