<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>MyTourney</title>
</head>
    <body>
        <script>
            function playerSelect(){
                document.getElementById('ld-players').style.background = '#91c2e7'
                document.getElementById('ld-players').style.color = '#104b5f'
                document.getElementById('ld-teams').style.background = '#104b5f'
                document.getElementById('ld-teams').style.color = '#91c2e7'
            }
    
            function teamSelect(){
                document.getElementById('ld-teams').style.background = '#91c2e7'
                document.getElementById('ld-teams').style.color = '#104b5f'
                document.getElementById('ld-players').style.background = '#104b5f'
                document.getElementById('ld-players').style.color = '#91c2e7'
            }
        </script>
    <div class="navbar" id="nav_bar">
        <nav>
            <ul class="nav-links">
                <!-- Make this so that the "PROFILE" changes to "LOGIN" -->
                <!-- Make it so that if the user does not have a team, he can join a team or create one -->
                <li><a href="profile_player">PROFILE</a></li>
                <li><a href="balance">BALANCE</a></li>
                <li><a href="friends">FRIENDS</a></li>
                <li><a href="team_player">TEAM</a></li>
            </ul>
        </nav>
    </div>
    <br><br>
    <section class="logo">
        <div class="container">
            <div style="background-color: #91c2e7;
            float: left;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 25%;
            border-radius: 15px;
            text-align: center;
            margin-top: 10px;">
                <a href="home" >BACK<br>HOME</a>
            </div>
            <div id="logo_img_home">
                <img src="images/MyTourney Logo.png" style="height: 85px;">
            </div>
            <div style="background-color: #91c2e7;" id="host">
                <a href="host">HOST<br>MODE</a>
            </div>
        </div>
    </section>
    <br><br>
    <div id="ld_options">
        <% if(option == 'teams') {%> 
        <div class="ld_options" id="ld-teams" style="padding-right: 20%; padding-left: 20%; background-color: #91c2e7; color: #104b5f;" onclick="window.location=`/leaderboard?selection=teams&rankings_from=<%= search_low %>&rankings_to=<%= search_high %>`">
            TEAMS
        </div>
        <div class="ld_options" id="ld-players" style="padding-left: 20%; padding-right: 20%; border-left: 1px solid #91c2e7; background-color: #104b5f;  color: #91c2e7;" onclick="window.location=`/leaderboard?selection=users&rankings_from=<%= search_low %>&rankings_to=<%= search_high %>`">
            PLAYERS
        </div>
        <% } else if (option == 'users'){%> 
            <div class="ld_options" id="ld-teams" style="padding-right: 20%; padding-left: 20%; background-color: #104b5f; color: #91c2e7;" onclick="window.location=`/leaderboard?selection=teams&rankings_from=<%= search_low %>&rankings_to=<%= search_high %>`">
                TEAMS
            </div>
            <div class="ld_options" id="ld-players" style="padding-left: 20%; padding-right: 20%; border-left: 1px solid #91c2e7; background-color:#91c2e7;  color: #104b5f;" onclick="window.location=`/leaderboard?selection=users&rankings_from=<%= search_low %>&rankings_to=<%= search_high %>`">
                PLAYERS
            </div>
        <% } %> 
    </div>
    <section id="listings">
            <div class="lead_titles">
                <div class="ld_tit" style="grid-column: span 2;">
                    RANK 
                </div>
                <div class="ld_tit">
                    NAME 
                </div>
                <div class="ld_tit">
                    POINTS 
                </div>
                <div class="ld_tit">
                    WINS 
                </div>
            </div>
            <% if (option == 'users') {%> 
            <% for (var index=0; index<indexer.length; index++) {%>
            <% if(index > results.length - 1) {%> 
            <% }else{ %>
            <% var result = results[index]%>
                <div class="lead_listing">
                    <% if (index + search_low + 1 == 1) {%> 
                        <div class="leader_img_container">
                            <img src='images/rank1.png' id="leader_ranking_img">
                        </div>
                    <% } %> 
                    <% if (index + search_low + 1 == 2) {%> 
                        <div class="leader_img_container">
                            <img src='images/rank2.png' id="leader_ranking_img">
                        </div>
                    <% } %> 
                    <% if (index + search_low + 1 == 3) {%> 
                        <div class="leader_img_container">
                            <img src='images/rank3.png' id="leader_ranking_img">
                        </div>
                    <% } else if (index + search_low + 1 > 3){%> 
                    <div class="leader_rank">
                        <%= index + search_low + 1 %> 
                    </div>
                    <% } %>
                    <% if(result.photo != null) {%>
                        <div class="leader_img_container">
                            <img src="<%= profile_path %>/<%= result.photo %>" id="leaderboard_profile_pic">
                        </div>
                        <div class="ld-val">
                            <%= result.user_name %>
                        </div>
                        <div class="ld-val">
                            <%= result.points %>
                        </div>
                        <div class="ld-val">
                            <%= result.games_won %>
                        </div>
                        </div> 
                    <% }else{ %> 
                    <div class="leader_img_container">
                        <img src='images/default_profile.jpg' id="leaderboard_profile_pic">
                    </div>
                    <div class="ld-val">
                        <%= result.user_name %>
                    </div>
                    <div class="ld-val">
                        <%= result.points %>
                    </div>
                    <div class="ld-val">
                        <%= result.games_won %>
                    </div>
                    </div>
                    <% } %> 
            <% } %>                 
            <% } %> 
            <% } else { %>
            <% for (var index=0; index<indexer.length; index++) {%>
            <% if(index > results.length - 1) {%> 
            <% }else{ %> 
            <% var result = results[index]%>
                <div class="lead_listing">
                    <% if (index + search_low + 1 == 1) {%> 
                        <div class="leader_img_container">
                            <img src='images/rank1.png' id="leader_ranking_img">
                        </div>
                    <% } %> 
                    <% if (index + search_low + 1 == 2) {%> 
                        <div class="leader_img_container">
                            <img src='images/rank2.png' id="leader_ranking_img">
                        </div>
                    <% } %> 
                    <% if (index + search_low + 1 == 3) {%> 
                        <div class="leader_img_container">
                            <img src='images/rank3.png' id="leader_ranking_img">
                        </div>
                    <% } else if (index + search_low + 1 > 3){%> 
                    <div class="leader_rank">
                        <%= index + search_low + 1 %> 
                    </div>
                    <% } %>
                    <% var team_logo = result.team_logo %>
                    <% if(team_logo != null){ %>
                        <div class="leader_img_container_team">
                            <img src="<%= team_path %>/<%= result.team_logo %>" id="leaderboard_team_pic">
                        </div>
                        <div class="ld-val">
                            <%= result.team_name %>
                        </div>
                        <div class="ld-val">
                            <%= result.team_points %>
                        </div>
                        <div class="ld-val">
                            <%= result.games_won %>
                        </div>
                        </div>
                    <% }else{ %> 
                    <div class="leader_img_container_team">
                        <img src='images/default_profile.jpg' id="leaderboard_team_pic">
                    </div>
                    <div class="ld-val">
                        <%= result.team_name %>
                    </div>
                    <div class="ld-val">
                        <%= result.team_points %>
                    </div>
                    <div class="ld-val">
                        <%= result.games_won %>
                    </div>
                    </div>
                    <% } %> 
            <% } %> 
            <% } %> 
            <% } %>
            <div id="page-btns">
                <% var count = search_high - search_low %> 
                <% if(search_low>0) {%>
                    <div style="display: flex; background-color: #91c2e7; height: 10vw; width: 10vw; padding: 5px; border-radius: 10px;">
                        <img src="images/back.png" style="margin: auto; height: 100%;"onclick="window.location=`/leaderboard?selection=<%= option %>&rankings_from=<%= search_low-count %>&rankings_to=<%= search_high-count %>`">
                    </div>
                <% } %>  
                <% if(total_num>search_high) {%>
                    <div style="display: flex; background-color: #91c2e7; height: 10vw; width: 10vw; padding: 5px; border-radius: 10px;">
                        <img src="images/back.png" style="margin: auto; height: 100%; transform: rotate(180deg);" onclick="window.location=`/leaderboard?selection=<%= option %>&rankings_from=<%= search_low+count %>&rankings_to=<%= search_high+count %>`">
                    </div>
                <% } %>
            </div>
            

    </section>
    <button onclick="topFunction()" id="my-btn" title="Go to top">
    <img src="images/Up Arrow.jpeg" style="height: 25px; padding-top: 5px;">
    </button>
    <script src="app.js"></script>
    </body>
</html>