<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.png?">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Team - MyTourney</title>
</head>
    <body>
    <div class="navbar" id="nav_bar">
        <nav>
            <ul class="nav-links">
                <li><a href="profile_player">PROFILE</a></li>
                <li><a href="balance">BALANCE</a></li>
                <li><a href="friends">FRIENDS</a></li>
                <li><a href="home">HOME</a></li>
            </ul>
        </nav>
    </div>
    <br><br>
    <div>
        <h1 style="font-family: Varsity; color: #91c2e7; padding: 15px; font-size: 36px; text-align: center; font-weight: 300;">
        <%= team[0].team_name.toUpperCase() %> 
        </h1>
    </div>
    <div id="teamlogo_container">
        <img src="<%= team_path %>/<%= team[0].team_logo %>" id="team-logo-img">
    </div>
    <div class="container">
        <% for (var member of members){ %>
            <div class="team-member" style="margin-top: 5px;">
                <div class="flex-child img">
                    <% if(member.photo === undefined || member.photo === null) {%> 
                    <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" id="team-member-prof-pic">
                    <% }else{ %> 
                        <img src=<%= profile_path %><%= member.photo %>   id="team-member-prof-pic">
                    <% } %> 
                </div>
                <div class="flex-child info" style="color: #303549; font-size: 18px; font-weight: 500;">
                    <%= member.user_name.toUpperCase() %> </br>
                    <% var age = getAge(member.age); %> 
                    <%= age %> YRS </br>
                    <% if(member.user_id == team[0].users_user_id){ %> 
                        CAPTAIN 🎖</br>
                    <% } %> 
                </div>
            </div>
        <% } %>
        <% if(user_id == team[0].users_user_id) {%>
            <div style="margin: auto; text-align: center; background-color: #91c2e7; border-radius: 15px; color: #303549; padding-top: 15px; padding-bottom: 15px;" onclick="copyLink(<%= team[0].teams_id %>)">
                INVITE TEAM MEMBERS
            </div>
        <% } %> 

    <button onclick="topFunction()" id="my-btn" title="Go to top">
    <img src="images/Up Arrow.jpeg" style="height: 25px; padding-top: 5px;">
    </button>
    <script src="app.js"></script>
    <script>
        function copyLink(team_id) {
            var inputc = document.body.appendChild(document.createElement("input"));
            inputc.value = `localhost:459/join_team?team_id=${team_id}`;
            inputc.focus();
            inputc.select();
            if(navigator.share){
                navigator.share({
                    title: "Join my team on MyTourney!",
                    url: `localhost:459/join_team?team_id=${team_id}`
                })
            }else{
                document.execCommand('copy');
            }
            inputc.parentNode.removeChild(inputc);
        }
    </script>
    </body>
</html>